page-home {
  .footerStyle{
    background: grey;
    .divStyle {
      width: 100%;
      .buttonStyle{
        float: right;
        bottom: 15px;
        right: 10px;
        position: absolute;
      }
      .uploadButtonStyle{
        margin-left: 33%;
        padding: 17px 16px;
      }
    }
  }
  }